/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 5, 2014, 8:23:57 AM
    Author     : hieuvo
*/

#header-layout1 {
    width: 1280px;
    
};
.logo-profile-layout1{
    display: table-cell;
    background-color: aqua;
    height: auto;   
    width: auto;
    
};
.user-nav-bar {
    display: table-cell;
    width: 100%;
    
    
    
    
}
.user-bar-layout1 {
    background-color:  mintcream;
    height: 50px;
    margin: 0px;
};
.nav-bar-layout1 {
    
    background-color: menu;
    height: 80px;
}